.logo-div img
    margin-right: 10px
    background-color: (var(--logo-background-color))
    padding: 8px
    border-radius: 50px

.bottom-right-animation
    animation: bottomToTop .5s ease-in-out forwards
    animation-fill-mode: forwards
    animation-delay: 1.2s
    opacity: 0
