header
    position: fixed
    z-index: 10
    left: calc(var(--padding)*2)
    top: calc(var(--padding)*2)
    mix-blend-mode: difference

.name
    margin-bottom: 30px

.name h1
    font-size: 48px
    font-weight: 300
    animation: topToBottom .3s ease-in-out

.name h1 span
    color: (var(--logo-background-color))

.name h2
    font-size: 16px
    font-weight: 100
    opacity: 0
    animation: topToBottom .5s ease-in-out
    animation-delay: .3s
    animation-fill-mode: forwards

.glow
    color: (var(--logo-background-color))
    text-align: center
    -webkit-animation: glow 1s ease-in-out infinite alternate
    -moz-animation: glow 1s ease-in-out infinite alternate
    animation: glow 1s ease-in-out infinite alternate

.header-in
    animation: headerIn 2s forwards

@media (max-width: 375px)
    .name
        display: none
    .nav ul
        display: flex
        flex-wrap: wrap
        gap: 8px
