@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap")

.bottom-right span , .bottom-right div
    display: block
    font-size: 16px
    line-height: 1.8
    font-family: Nunito
    margin-left: 10px

.bottom-right
    position: fixed
    z-index: 10
    right: calc(var(--padding)*2)
    bottom: calc(var(--padding)*2)
    text-align: end

.home-about
    white-space: pre-wrap
