@keyframes topToBottom
    0%
        opacity: 0
        visibility: hidden
        transform: translateY(-100%)
    1%
        visibility: visible
    100%
        opacity: 1
        visibility: visible
        transform: translateY(0)

@keyframes bottomToTop
    0%
        opacity: 0
        visibility: hidden
        transform: translateY(100%)
    1%
        visibility: visible
    100%
        opacity: 1
        visibility: visible
        transform: translateY(0)

@keyframes rightToLeft
    0%
        opacity: 0
        visibility: hidden
        transform: translateX(100%)
    1%
        visibility: visible
    100%
        opacity: 1
        visibility: visible
        transform: translateX(0)

@keyframes slideOut
    0%
        opacity: 1
        visibility: visible
        transform: translateX(0%)
    1%
        visibility: visible
    100%
        opacity: 0
        visibility: hidden
        transform: translateX(400%)
