ul
    list-style-type: none

ul li
    margin-top: 8px

ul a
    text-decoration: none
    color: black

.nav ul a
    color: var(--text-color)

.nav-item li.active
    font-weight: 700
    margin-left: 5px

.nav-item li.active:before
    content: '•'
    margin-right: 8px
