.display-node
    display: none

.picture-container
    width: 100%
    height: 100vh
    display: flex
    top: 0
    left: 0
    position: fixed
    z-index: -1

.picture-container img
    width: 100%
    height: 100vh
    object-fit: cover
    filter: blur(20px) brightness(50%)

.content-container
    width: 100%
    height: 100%

.project-container
    width: 80%
    height: 100%
    margin-right: auto
    margin-left: auto
