.project-display
    animation: rightToLeft 1s forwards
    animation-delay: .5s
    opacity: 0
    display: flex
    justify-content: center
    justify-content: center
    align-items: center
    height: 100vh

.module-container
    width: 30%

.module
    margin: 0.3rem
    padding: 1rem
    border: 1px solid (var(--theme-checkbox-background))
    border-radius: 15px
