.theme input
    margin: 0
    margin-right: 5px

.theme
    display: flex
    position: fixed
    top: 14px
    left: 2.5%

.theme label
    font-weight: 900

.theme-checkbox-dark
    margin-left: 10px

.theme-color-dark

.theme-color-light
