.timeline
    position: absolute
    right: calc(var(--padding) * 2)
    top: calc(var(--padding) * 7)
    animation: rightToLeft 0.2s ease-in-out
    animation-fill-mode: forwards
    opacity: 0
    z-index: 20

.project-node
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    margin-bottom: 60px
    cursor: pointer

    &-text
        position: absolute
        white-space: nowrap
        cursor: pointer
        right: calc(100% + 10px)
        transform: rotate(20deg)
        transform-origin: right center
        top: -25%
        font-size: 20px

    &-circle
        z-index: -1
        background-color: (var(--circle-color))
        border: 2px solid (var(--node-border-color))
        border-radius: 50%
        width: 20px
        height: 20px
        cursor: pointer

    &:not(:last-child)::after
        content: ''
        position: absolute
        left: 50%
        top: 100%
        width: 2px
        height: 60px
        background-color: (var(--circle-color))
        z-index: -1
        transform: translateX(-50%) translateY(0)

    &-circle.selected
        background-color: (var(--circle-selected-color))

    &:last-of-type::after
        display: none

    &:last-of-type
        margin-bottom: 10px

    &:first-of-type
        margin-top: 10px

.timeline-year.top-year::after,
.timeline-year.bottom-year::before
    content: ''
    position: absolute
    left: 50%
    width: 2px
    background-color: #ddd

.timeline-year.bottom-year::before
    bottom: 70px
    transform: translateY(100%)

.project-node-skills
    position: absolute
    white-space: nowrap
    cursor: pointer
    right: calc(100% + 10px)
    transform: rotate(21deg)
    transform-origin: right center
    top: 100%

.project-node-skills img
    width: 25px
    height: 25px
    margin: 5px

.project-skill-container
    display: inline-block
    position: relative
    margin: 5px

    & img
        width: 20px
        height: 20px
        object-fit: contain

.timeline-container
    min-height: 100vh
    padding-bottom: var(--padding)
    overflow-y: auto

.timeline.slide-out
    animation: slideOut 0.5s forwards

@media (max-width: 1625px)
    .timeline
        top: calc(var(--padding) * 5)

@media (max-width: 800px)
    .timeline
        top: calc(var(--padding) * 5)

@media (max-height: 780px)
    .timeline
        top: calc(var(--padding) * 3.5)

@media (max-width: 650px)
    .timeline
        top: calc(var(--padding) * 7)

@media (max-width: 650px) and (max-height: 780px)
    .timeline
        top: calc(var(--padding) * 5)

@media (max-width: 545px)
    .timeline
        top: calc(var(--padding) * 9)

@media (max-width: 545px)  and (max-height: 780px)
    .timeline
        top: calc(var(--padding) * 7)

@media (max-width: 450px)
    .timeline
        top: calc(var(--padding) * 10)
        right: calc(var(--padding) * 1.5)
    .bottom-year
        margin-bottom: 4rem
    .project-node
        margin-bottom: 60px

        &-text
            font-size: 18px

        &-circle
            width: 16px
            height: 16px

    .project-node-skills
        right: calc(100% + 10px)

        & img
            width: 20px
            height: 20px
            margin: 5px

@media (max-width: 450px) and (max-height: 780px)
    .timeline
        top: calc(var(--padding) * 8.5)
