// .timeline
//     position: fixed
//     left: 0
//     bottom: 50px
//     width: 100%
//     display: flex
//     align-items: center
//     justify-content: center

// .project-node
//     display: flex
//     flex-direction: row
//     align-items: center
//     position: relative
//     margin: 0 20px 0 20px

// .project-node-text
//     position: absolute
//     white-space: nowrap
//     cursor: pointer
//     text-align: center

// .project-node:nth-child(odd) .project-node-text
//     top: 0
//     transform: translateY(-100%) translateX(-50%)

// .project-node:nth-child(even) .project-node-text
//     bottom: 0
//     transform: translateY(100%) translateX(-50%)

// .project-node-circle
//     z-index: 1
//     background-color: #fff
//     border: 2px solid #000
//     border-radius: 50%
//     width: 30px
//     height: 30px
//     cursor: pointer
//     order: 1

// .project-node:not(:last-child)::after
//     content: ''
//     position: absolute
//     top: 50%
//     left: 50%
//     width: calc(100% + 40px)
//     height: 2px
//     background-color: #ddd
//     z-index: 0
//     transform: translateX(-50%)

// .timeline-year
//     position: relative
//     padding: 10px

// .timeline-year::before,
// .timeline-year::after
//     content: ''
//     position: absolute
//     height: 2px
//     background-color: #ddd

// .timeline-year.top-year::after
//     left: 100%
//     width: 20px
//     top: 50%
//     transform: translateY(-50%)

// .timeline-year.bottom-year::before
//     right: 100%
//     width: 20px
//     top: 50%
//     transform: translateY(-50%)

// .project-node-circle.selected
//     background-color: #4CAF50
//     color: white

///////// VERTICAL//////////////
.timeline
    position: fixed
    right: calc(var(--padding) * 8)
    top: calc(var(--padding) * 5)

.project-node
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    margin-bottom: 40px

    &-text
        position: absolute
        white-space: nowrap
        cursor: pointer
        right: calc(100% + 10px)
        transform: rotate(20deg)
        transform-origin: right center

    &-circle
        z-index: 1
        background-color: #fff
        border: 2px solid #000
        border-radius: 50%
        width: 30px
        height: 30px
        cursor: pointer

    &:not(:last-child)::after
        content: ''
        position: absolute
        left: 50%
        top: 100%
        width: 2px
        height: 40px
        background-color: #ddd
        z-index: -1
        transform: translateX(-50%) translateY(0)

    &-circle.selected
        background-color: #4CAF50
        color: white

    &:last-of-type::after
        display: none

    &:last-of-type
        margin-bottom: 10px

    &:first-of-type
        margin-top: 10px

.timeline-year.top-year::after,
.timeline-year.bottom-year::before
    content: ''
    position: absolute
    left: 50%
    width: 2px
    background-color: #ddd

.timeline-year.bottom-year::before
    bottom: 70px
    transform: translateY(100%)

.project-node-skills
    position: absolute
    white-space: nowrap
    cursor: pointer
    right: calc(100% + 10px)
    transform: rotate(20deg)
    transform-origin: right center
    top: 80%

    & img
        width: 20px
        height: 20px
        object-fit: contain
        border-radius: 50px
        background-color: white
        padding: 5px
        margin: 5px
