@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap")
@import "./components/header"
@import "./components/nav"
@import "./components/home_about_me"
@import "./components/theme"
@import "./components/about_me"
@import "./components/project"
@import "./components/modal"
@import "./components/contactform"
@import "./components/keyframes"
@import "./components/timeline"

:root
    --padding: max(20px, 4vmin)
    --padding-theme: max(-25px, -4vmin)
    --frame-line-color: #000000
    --layout-bg: rgba(0, 0, 0, 0.8)
    --modal-border-color: 1px solid black
    --modal-background-color: white
    --close-button-bg-color: white
    --close-button--color: black
    --theme-checkbox-background: #121212
    --skills-background-color: #121212
    --skills-text-color: white
    --logo-background-color: #444444
    --logo-color: black
    --node-border-color: #121212

[data-theme="dark"] 
    --frame-line-color: white
    --text-color-dark: white
    --background-color-dark: white
    --layout-bg: rgba(255, 255, 255, 0.1)
    --modal-border-color: 1px solid white
    --modal-background-color: #121212
    --close-button-bg-color: #121212
    --close-button--color: white
    --theme-checkbox-background: white
    --skills-background-color: white
    --skills-text-color: #121212
    --logo-background-color: white
    --logo-color: white
    --node-border-color: white

#page
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: hidden

#background
    position: fixed
    z-index: 1
    left: var(--padding)
    right: var(--padding)
    top: var(--padding)
    bottom: var(--padding)
    pointer-events: none
    overflow: hidden

html, body
    padding: 0
    margin: 0
    height: 100%
    width: 100%

h1,h2,h3,h4,h5,h6,p,ul,li,label
    font-family: Nunito
    margin: 0
    padding: 0

////////////////////////// Frame //////////////////////////////
.frame
    position: fixed
    z-index: 10
    left: var(--padding)
    right: var(--padding)
    top: var(--padding)
    bottom: var(--padding)
    mix-blend-mode: difference
    pointer-events: none

.frame_line
    position: absolute
    background-color: var(--frame-line-color)
    opacity: .5

.frame_line-left
    left: 0
    top: 0
    width: 1px
    height: 30%

.frame_line-top
    left: 0
    top: 0
    height: 1px
    width: 20%

.frame_line-right
    right: 0
    bottom: 0
    width: 1px
    height: 30%

.frame_line-bottom
    right: 0
    bottom: 0
    height: 1px
    width: 20%
