.project-77-events-div1,.project-77-events-div2,.project-77-events-div3,.project-77-events-div4
    display: flex
    justify-content: center
    flex-direction: column
    margin-left: auto
    margin-right: auto

    & p
        display: flex
        margin: 2rem
        justify-content: center
        text-align: center

    & img
        width: 100%
        margin-right: auto
        margin-left: auto

.project-77-events-div1 p
    font-size: 4rem !important

@media (max-width: 650px)
    .project-77-events-div1 p
        font-size: 2.5rem !important

@media (max-width: 600px)
    .septseptevents .project-container div img
        width: 95%
        border-radius: 10px

@media (max-width: 350px)
    .project-sophie-bluel-div1 p
        font-size: 2rem !important
